<template>
  <div>
    {{onback()}}
    <div class="container pt-5">
      <span
      v-if="path" 
        @click="onnazad"
        class="d-block d-lg-none"
        style="position: relative; top: 2rem; cursor: pointer"
      >
        <img class="img-fluid" src="/back.png" alt="" /> home</span
      >
      <div class="row mt-5">
        <div class="col-12 col-lg-6 box-imgc">
          <img class="img-fluid" style="width: 25rem" src="/118 1.JPEG" alt="" />
        </div>
        <div class="col-12 col-lg-6 box-other">
          <p style="font-size: 2rem">Javier Barrera Garcia DDS</p>
          <h2 style="font-size: 1rem">Dentist</h2>
          <hr />
          <div>
            <p><span>1995-2005</span> Central University of Venezuela.</p>
            <p>
              <span>2007-2009 </span>
              Master in Endodontics at the University of Maimonides.
            </p>
            <p>
              <span>2017</span>
              Psychoneurodentistry with the method of Dr. Christian Beyer.
            </p>
            <p>
              <span> 2013 </span> -Homologation to official Spanish title. 16 years of clinical experience.
            </p>
            <p>Professional experience <span>16 years.</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "defaulten",
  head: {
    title:
      "Javier Barrera Garcia DDS Denyist Valencia SmileHouse",
    meta: [
      {
        hid: "description",
        name: "description",
        content:
          "Oral hygiene and general dentistry,Dental rehabilitation,Oral hygiene and general dentistry,Orthodontics,Pediatric Dentistry,Whitening in Valencia",
      },
      {
          hid: 'og:image',
          property: 'og:image',
          content: '118 1.JPEG'
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: '118 1.JPEG'
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Smile house'
        }
    ],
  },
      async asyncData({ from }) {
      let path
      if(from){
        path = true
      }
      else{
        path = false
      }
      return {path}
    },
  methods: {
    onnazad(){
        this.$router.go(-1);
    },
    onback() {
      if (process.browser) {
        try {
            var menu = document.querySelector("#menu_log");
            menu.classList.add("menu_scroll");
        } catch (error) {
          console.log(error);
        }      
      }
    },
  },
  data() {
    return {
      zapic: false,
    };
  },
};
</script>

<style scoped>
.box-other {
  text-align: start;
}
@media (max-width: 500px) {
  .box-other {
    text-align: center;
  }
  .box-imgc {
    text-align: center;
  }
  p {
    font-size: 0.8rem;
  }
  .b-zapic {
    top: 50%;
  }
}
.box-imgc {
  text-align: right;
}
.b-zapic {
  top: 10rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: block;
}

span {
  font-weight: bold;
}
.btn-zapic {
  width: 10rem;
  height: 2.5rem;
  background: none;
  border: 1px 1px 1px 1px solid black;
  border: 2px solid black;
  margin-top: 1rem;
}
</style>