<template>
  <div>
    <div>
      {{ onscr }}
      <header id="header">
        <div id="header__content"></div>
        <div class="content-header">
          <h1 class="text-center">
            Стоматологическая клиника в Валенсии
          </h1>
          <div class="text-center">
            <button class="btn-zapic">
              <NuxtLink to="#zapic-form">Записаться</NuxtLink>
            </button>
          </div>
        </div>
      </header>
    </div>
    <!-- информацию подробнее про каждую услугу -->
    <section id="services">
      <div class="container">
        <div class="row justify-content-center">
        
          <!-- На компьютере -->
          <div class="col-lg-4 col-6 box-services ">
            <div class="text-center">
              <img src="/Терапия.png" alt="" />
            </div>

            <h4 class="terapia text-center text-services">
              Терапия <br />
              и профилактика
            </h4>
          </div>
                    <div class="col-lg-4 col-6 box-services boxmob">
            <div class="text-center">
              <img src="/Реабилитация.svg" alt="" />
            </div>
            <h4 class="text-center text-services">
              Стоматологическая <br />реабилитация
            </h4>
          </div>
            <div class="col-lg-4 col-6 box-services">
            <div class="text-center">
              <img style="width: 50px;" src="Эндодонтия.svg" alt="" />
            </div>
            <h4 class="text-center text-services">
              Микроскопная <br />
              эндодонтия
            </h4>
          </div>
          <div class="col-lg-4 col-6 box-services boxmob2">
            <div class="text-center">
              <img src="/Хирургия.svg" alt="" />
            </div>
            <h4 class="text-center text-services">
              Хирургия <br />и имплантология
            </h4>
          </div>

          <div class="col-lg-4 col-6 box-services ">
            <div class="text-center">
              <img src="/Ортодонтия.png" alt="" />
            </div>
            <h4 class="text-center text-services">Ортодонтия и  Invisalign</h4>
          </div>

          <div class="col-lg-4 col-6 box-services">
            <div class="text-center">
              <img style="width: 40px;" src="/Эстетическая.svg" alt="" />
            </div>
            <h4 class="text-center text-services">
              Эстетическая <br />
              медицина
            </h4>
          </div>
          <div class="col-lg-4 col-6 box-services ">
            <div class="text-center">
              <img src="/Отбеливание.svg" alt="" />
            </div>
            <h4 class="text-center text-services">Отбеливание</h4>
          </div>
        </div>
      </div>
    </section>

    <section id="podpic">
      <div class="container">
        <div class="row justify-content-center">
          <div class="opodp col-lg-9 col-12">
            <h3 class="smile-house1 text-center p-1 p-lg-0 text-podp">
              Стоматологическая клиника Smile House в Валенсии, создана нами в
              одном из красивейших городов мира для наилучшего результата лечения пациентов
              и комфортной работы
              лечащей команды. Клиника укомплектована
              новейшими технологиями и лучшими материалам в стоматологической
              сфере.
            <br>
            <span></span>
            </h3>
          </div>
          <div class="smile7 col-lg-6 col-12 text-center mt-4 box-podp">
            <span style="font-weight: bolder"
              >Др. Мария Малевская-Чурсина
            </span>
            <img class="img-podp" src="/1.svg" alt="" />
          </div>
          <div class="smile8 col-lg-6 col-12 text-center mt-4 box-podp">
            <span style="font-weight: bolder">Др. Дмитрий Чурсин</span>
            <img class="img-podp" src="/2.svg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section id="section-commands" style="margin-top: 3rem;">
      <!-- block one -->
    
      <div class="d-flex flex-wrap justify-content-center">
        <div class="text-center box-img-comands" style="margin: 2px">
          <img class="img-fluid" style="width:599px;max-height: 741.71px;max-width:100%" src="/dima.jpeg" alt="dima" />
          <h5 class="mt-4">Чурсин Дмитрий Николаевич</h5>
          <p>Врач-стоматолог</p>
          <div>
            <button @click="rembg('dmitryi')" class="btn-specialist">
              Подробнее
            </button>
          </div>
        </div>
        <div class="text-center box-img-comands" style="margin: 2px">
          <img class="img-fluid" style="width:599px;max-height: 741.71px;max-width:100%" src="/mariya.jpeg" alt="marya" />
          <h5 class="mt-4">Малевская Мария Евгеньевна</h5>
          <p>Врач-стоматолог</p>
          <div>
            <button @click="rembg('mariya')" class="btn-specialist">
              Подробнее
              <!-- <NuxtLink no-prefetch  class="toa" to="/mariya">Подробнее</NuxtLink> -->
            </button>
          </div>
        </div>
      </div>
      <hr />
      <div class="text-center">
        <button @click="seespec()" class="btn-spec-all mt-4">
          <span v-if="!spec_all">Коллектив</span>
          <span v-if="spec_all">Свернуть</span>
        </button>
      </div>
      <div v-if="spec_all" class="all-s mt-5" :class="{ active: for_act }">
        <!-- block two -->
        <div class="d-flex flex-wrap justify-content-center mt-5">
          <div class="text-center box-img-comands" style="margin: 2px">
            <img class="img-fluid" src="/004 1.JPEG" alt="Энкарна" />
            <h5 class="mt-4">Энкарна Моралес</h5>
            <p>Ассистент стоматолога</p>
              <div>
              <button @click="rembg('encarna')" class="btn-specialist">
                Подробнее
              </button>
            </div>
          </div>
          <div class="text-center box-img-comands" style="margin: 2px">
            <img class="img-fluid" src="/007 1.JPEG" alt="marya" />
            <h5 class="mt-4">Екатерина Власенко</h5>
            <p>Гигиенист</p>
              <div>
              <button @click="rembg('ekaterina')" class="btn-specialist">
                Подробнее
                <!-- <NuxtLink no-prefetch  class="toa" to="/mariya">Подробнее</NuxtLink> -->
              </button>
            </div>
          </div>
        </div>
        <!-- block three -->
        <div class="d-flex flex-wrap justify-content-center mt-5">
          <div class="text-center box-img-comands" style="margin: 2px">
            <img class="img-fluid" src="/118 1.JPEG" alt="dima" />
            <h5 class="mt-4">Хавьер Баррера Гарсия</h5>
            <p>Врач-стоматолог</p>
            <div>
              <button @click="rembg('haver')" class="btn-specialist">
                Подробнее
                <!-- <NuxtLink no-prefetch  class="toa" to="/mariya">Подробнее</NuxtLink> -->
              </button>
            </div>
          </div>
          <div class="text-center box-img-comands" style="margin: 2px">
            <img class="img-fluid" src="/018 2.JPEG" alt="marya" />
            <h5 class="mt-4">Ростислав Гребенюк</h5>
            <p>Врач косметолог</p>
            <div>
              <button @click="rembg('rostislav')" class="btn-specialist">
                Подробнее
                <!-- <NuxtLink no-prefetch  class="toa" to="/mariya">Подробнее</NuxtLink> -->
              </button>
            </div>
          </div>
        </div>
        <!-- block for-->
        <div class="d-flex flex-wrap justify-content-center mt-5">
          <div class="text-center box-img-comands" style="margin: 2px">
            <img class="img-fluid" src="/006 1.JPEG" alt="dima" />
            <h5 class="mt-4">Светлана Грюндмане</h5>
            <p>Администратор</p>
          </div>
        </div>
      </div>
    </section>
    <section id="clinic">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-12 box-text-clinic">
            <h2 class="text-center mb-4">О клинике</h2>
            <h4 class="text-center smile-house2">
              Мы дорожим своей репутацией и стараемся
              обеспечить индивидуальный подход
              к каждому пациенту, большинство из которых
              выбирают нашу клинику по личной рекомендации.
            </h4>
            <div class="text-center">
              <span class="smile-house3" style="font-size: 2rem; color: #3a5bcd"
                >3000+</span
              >
            </div>

            <p class="text-center" style="font-size: 1rem">
              довольных пациентов
            </p>
          </div>
          <div class="col-lg-6 col-12" style="padding: 0">
            <img class="img-fluid" src="/com.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section id="photo" class="d-flex flex-wrap flex-lg-nowrap p-1">
      <!-- box-one -->
      <div>
        <!-- box-one foto-->
        <div class="d-flex">
          <!-- one foto-->
          <div class="d-flex flex-column">
            <img
              style="margin: 1px"
              class="img-fluid"
              src="/photo1.jpeg"
              alt=""
            />
            <img
              style="margin: 1px"
              class="img-fluid"
              src="/photo2.jpeg"
              alt=""
            />
          </div>
          <!-- two foto-->
          <div>
            <img
              style="margin: 1px"
              class="img-fluid hei-img"
              src="/photo3.jpeg"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- end box-one -->

      <!-- box-two -->
      <div>
        <div class="d-flex">
          <!-- one foto-->
          <div>
            <img
              style="margin: 1px"
              class="img-fluid hei-img"
              src="/photo4.jpeg"
              alt=""
            />
          </div>
          <!-- two foto-->
          <div class="d-flex flex-column">
            <img
              style="margin: 1px"
              class="img-fluid"
              src="/photo5.jpeg"
              alt=""
            />
            <img
              style="margin: 1px"
              class="img-fluid"
              src="/photo6.jpeg"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- end box-two -->
    </section>

    <section id="dostoinstva">
      <div class="container">
        <!-- box-1 -->
        <div class="row">
          <div class="col-12 col-lg-6 order-2 order-lg-1 p-0 text-center">
            <img class="img-fluid" src="/oborydovanie.jpeg" alt="" />
          </div>
          <div
            class="
              smile-house4
              box-text-dostoinstva
              col-12 col-lg-6
              order-1 order-lg-2
            "
          >
            <h2 class="text-center mb-lg-4">Новейшеее оборудование</h2>
            <h4 class="text-mob-obor text-center m-2">
              Наша стоматология использует в своей работе только современное
              оборудование и материалы высочайшего класса. Лечение
              и протезирование зубов проводится по лучшим протоколам стоматологической реабилитации
            </h4>
          </div>
        </div>

        <!-- box-2 -->

        <div class="row pt-5">
          <div class="col-12 col-lg-6 order-2 order-lg-2 p-0 text-center">
            <img class="img-fluid" src="/special.jpeg" alt="" />
          </div>
          <div
            class="
              smile-house5
              box-text-dostoinstva
              col-12 col-lg-6
              order-1 order-lg-1
            "
          >
            <h2 class="text-center mb-lg-4">
              Помощь квалифицированных <br />
              специалистов
            </h2>
            <h4 class="text-mob-obor text-center m-2">
              Специалисты клиники постоянно совершенствуют 
              свою профессиональную квалификацию, посещая курсы 
              и мастер-классы лучших практиков в области мировой стоматологии.
            </h4>
          </div>
        </div>

        <!-- box-3 -->

        <div class="row pt-5">
          <div class="col-12 col-lg-6 order-2 order-lg-1 p-0 text-center">
            <img class="img-fluid" src="/protocol.jpeg" alt="" />
          </div>
          <div
            class="
              smile-house6
              box-text-dostoinstva
              col-12 col-lg-6
              order-1 order-lg-2
            "
          >
            <h2 class="text-center mb-lg-4">
              Протоколы лечения
            </h2>
            <h4 class="text-mob-obor text-center m-2">
              Мы внимательно отслеживаем изменения в схемах
              лечения и трендах, своевременно внедряя
              наиболее надежные протоколы.
              
            </h4>
          </div>
        </div>
      </div>
    </section>

    <section id="zapic-form">
      <div class="d-flex flex-row">
        <img class="d-none d-lg-block" src="/contact.jpeg" alt="" />
        <div style="background: black; width: -moz-available; width: 100%">
          <Zapic />
        </div>
      </div>
    </section>

    <section id="geolocation-card" style="margin-top: 0rem">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.3901244217695!2d-0.37933578520780137!3d39.48310457948454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f54ff9d3ceb%3A0xd075cd4f70ef9793!2zQ2FycmVyIGRlIGxhIFZpc2l0YWNpw7MsIDIsIDQ2MDA5IFZhbMOobmNpYSwg0JjRgdC_0LDQvdC40Y8!5e0!3m2!1ses!2ses!4v1583579502575!5m2!1ses!2ses"
        width="100%"
        height="450"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
      >
      </iframe>
    </section>

    <section
      id="footer-photo"
      class="d-none d-lg-block"
      style="padding: 1px; margin-top: 0rem"
    >
      <div class="d-flex">
        <img
          class="img-fluid img-fot d-none d-lg-block"
          src="/fot3.jpeg"
          alt=""
        />
        <img
          style="max-width: 49%; height: auto"
          class="img-fluid img-fot"
          src="/fot2.jpeg"
          alt=""
        />
        <img
          style="max-width: 49%; height: auto"
          class="img-fluid img-fot"
          src="/fot1.jpeg"
          alt=""
        />
        <img
          class="img-fluid img-fot d-none d-lg-block"
          src="/fot4.jpeg"
          alt=""
        />
        <img
          class="img-fluid img-fot d-none d-lg-block"
          src="/fot5.jpeg"
          alt=""
        />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  head: {
    title: "Стомотологическая Клинника В Валенсии (SmileHouse)",
    meta: [
      {
        hid: "description",
        name: "description",
        content:
          "Стоматологические услуги в Валенсии.Мы предлагаем услуги:Профилактика, Стоматологическая реабилитация,Стоматологическая Ортодонтия,Детская стоматология,Отбеливание ",
      },
       {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://lh5.googleusercontent.com/p/AF1QipOI2kuaQlAvtcVTU_rLhhXvrmiYDek5jG-8XKo1=w600'
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://lh5.googleusercontent.com/p/AF1QipOI2kuaQlAvtcVTU_rLhhXvrmiYDek5jG-8XKo1=w600'
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Smile house'
        }
    ],
  },

  computed: {
    onscr() {
      if (process.browser) {
        setTimeout(() => {
          let cart = document.querySelector("#geolocation-card");
          var intersectionObserver = new IntersectionObserver(function (
            entries
          ) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector("#menu_log");
            if (menu.classList.value.includes("menu_scroll")) {
              menu.classList.remove("menu_scroll");
            } else {
              menu.classList.add("menu_scroll");
            }
          });

          var intersecti = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house1 ");

            menu.classList.add("element-new");
          });

          var intersecti2 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house2");

            menu.classList.add("element-new");
          });

          var intersecti3 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house3");

            menu.classList.add("element-new");
          });

          var intersecti4 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house4");
            menu.classList.add("element-new");
          });
          var intersecti5 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house5");
            menu.classList.add("element-new");
          });

          var intersecti6 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house6");
            menu.classList.add("element-new");
          });

          var intersecti7 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile7");
            menu.classList.add("element-new");
          });

          var intersecti8 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile8");
            menu.classList.add("element-new");
          });

          // начать наблюдение
          intersectionObserver.observe(document.querySelector(".terapia"));
          intersecti.observe(document.querySelector(".smile-house1"));
          intersecti2.observe(document.querySelector(".smile-house2"));
          intersecti3.observe(document.querySelector(".smile-house3"));
          intersecti4.observe(document.querySelector(".smile-house4 "));
          intersecti5.observe(document.querySelector(".smile-house5"));
          intersecti6.observe(document.querySelector(".smile-house6"));
          intersecti7.observe(document.querySelector(".smile7"));
          intersecti8.observe(document.querySelector(".smile8"));
        }, 1000);
      }
    },
  },
  data() {
    return {
      spec_all: false,
      for_act: false,
    };
  },
  methods: {
    rembg(url) {
      let menu = document.querySelector("#menu_log");
      console.log(333);
      menu.classList.add("menu_scroll");
      this.$router.push("/ru/" + url);
    },
    seespec() {
      this.spec_all = !this.spec_all;

      setTimeout(() => {
        this.for_act = !this.for_act;
      }, 100);
    },
  },
};
</script>

<style scoped>
.btn-specialist {
  background: none;
  border: 2px solid black;
  width: 10rem;
  height: 2.5rem;
}
.toa {
  color: black;
  text-decoration: none;
}
@media (max-width:500px){
    .boxmob {
        margin-top: 1.2rem;

    }
}
@media (max-width:500px){
    .boxmob2 {
        margin-top: 1.3rem;

    }
}
</style>
