<template>
  <div>
      {{onback()}}
    <div class="container pt-5">
      <span
      v-if="path" 
        @click="onnazad"
        class="d-block d-lg-none"
        style="position: relative; top: 2rem; cursor: pointer"
      >
        <img class="img-fluid" src="back.png" alt="" /> Volver</span
      >
      <div class="row mt-5">
        <div class="col-12 col-lg-6 box-imgc">
          <img class="img-fluid" style="width: 25rem" src="018 2.JPEG" alt="" />
        </div>
        <div class="col-12 col-lg-6 box-other">
          <p style="font-size: 2rem">Rostislav Grebenyuk </p>
          <h2 style="font-size: 1rem">Médico Estético</h2>
          <hr />
          <div>
            <p>Número de colegiado <span>460708836 </span></p>
            <p>
              <span>1998-2004</span> Licenciatura en Medicina y Cirugía Academia Estatal de Medicina de Tver del Ministerio de Salud de la Federación de Rusia. 
            </p>
            <p>
              <span>2004-2007 </span>
              Médico-Pediatra de la especialidad Pediatría. Homologado en España por el Ministerio de Ciencia e Innovación. Madrid, 7 de enero de 2009
            </p>
            <p>
              <span>2009-2013 </span>
              Especialista en Medicina Familiar y Comunitaria. Vía MIR en el Hospital: Can Misses, Ibiza. 
            </p>
            <p>
              <span> 2014-2015 </span> Máster en Medicina Estética de la Universidad de las Islas Baleares 
            <p><span>Desde 2017</span> - Socio SEME (Sociedad Española de Medicina Estética) </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "defesp",
  head: {
    title:
      "Rostislav Grebenyuk - Médico Estético En Valencia",
    meta: [
      {
        hid: "description",
        name: "description",
        content: "Médico Estético En Valencia",
      },
      {
          hid: 'og:image',
          property: 'og:image',
          content: '018 2.JPEG'
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: '018 2.JPEG'
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Smile house'
        }
    ],
  },
      async asyncData({ from }) {
      let path
      if(from){
        path = true
      }
      else{
        path = false
      }
      return {path}
    },
  methods: {
    onnazad(){
        this.$router.go(-1);
    },
    onback() {
      if (process.browser) {
        var menu = document.querySelector("#menu_log");
        menu.classList.add("menu_scroll");
      }
    },
  },
  data() {
    return {
      zapic: false,
    };
  },
};
</script>

<style scoped>
.box-other {
  text-align: start;
}
@media (max-width: 500px) {
  .box-other {
    text-align: center;
  }
  .box-imgc {
    text-align: center;
  }
  p {
    font-size: 0.8rem;
  }
  .b-zapic {
    top: 50%;
  }
}
.box-imgc {
  text-align: right;
}
.b-zapic {
  top: 10rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: block;
}

span {
  font-weight: bold;
}
.btn-zapic {
  width: 10rem;
  height: 2.5rem;
  background: none;
  border: 1px 1px 1px 1px solid black;
  border: 2px solid black;
  margin-top: 1rem;
}
</style>