/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    position: relative;
    font-family: 'Raleway', sans-serif;
}
/* .page-enter-active, .page-leave-active {
    
    transition: opacity .4s;

}

.page-enter, .page-leave-active {
    opacity: 0;
    left: -100px;

} */
.page-enter-active {
    animation: acrossIn .45s ease-out both;
  } 
  
  .page-leave-active {
    animation: acrossOut .65s ease-in both;
  } 
  
  @keyframes acrossIn {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes acrossOut {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(100%, 0, 0);
    }
  }
#navbar{
    font-size: 12px;
    height: 90px;
}
h2{
    font-weight: 200;
}
@media (max-width:500px){
   h2{
       font-size: 1.5rem;
    }
   }

   
#header__content {
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: ;  */
    background-image: url("/banner.jpeg");
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
    background-color: #eee;
    /* display: flex;
    align-items: center; */
  }

@media(max-width:500px){
    #header__content {
        background-repeat: no-repeat;
        background-image: url("/banner_mob.jpeg");
        background-attachment: fixed;
        height: 50vh;

      }
}
@media(max-width:500px){
    h1{
        font-size: 1.8rem;

      }
}

.cardblock{
    display: block;
}
h1{
    font-weight: 200;
}
.nav-adress-and-search {
    display: flex;
    justify-content: space-evenly;
}
.box-search{
    height: 1.4rem;
    margin-left: 1.7rem;
}

.img-search{
    margin-right: .4rem;
    width: 15px;
    height: 15px;
    position: relative;
    bottom: -3px;
}
.img-lang{
    margin-left: .4rem;
    width: 10px;
    height: 5px;
    position: relative;
    bottom: -3px;
}
.lang-text{
    position: relative;
    bottom: -3px;
}

.search-lang{
    display: flex;
    justify-content: safe;
    width: 20%;
    justify-content: space-evenly;
}

.line {
    border-bottom: 1px solid #E5E5E5; /* Параметры линии */
    margin-top: .7rem;
}

/* .nav-menu{
    display: flex;
    justify-content: space-evenly;
} */
.box-menu-logo{
    display: flex;
}

.menu-text a{
    position: relative;
    top: 50%;
    margin-left: 1rem;
}

.menu-text a:hover {
    color: rgb(68, 60, 80);
}
.box-menu-soc-phone{
    display: flex;
}
.logo-soc-sec{
    margin-top: 1rem;
    margin-right: 2rem;
}

.btn-zapic{
    height: 2.7rem;
    width: 15rem;
    margin-top: 2rem;
    background: none;
    border: black 3px solid;
}
.text-services{
    margin-top: 2rem;
    font-weight: bolder;
}
@media (max-width:500px){
    .text-services{
        font-size: .8rem;
    
    }
}
@media (max-width:500px){
.img-reob{
    height: 2.8rem;
}
}
.box-services{
    margin-top: 6rem;
}
@media (max-width:500px){
    .box-services{
        margin-top: 1rem;
    }
    }
#podpic{
    margin-top: 4rem;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: ;  */
    background-image: url("/podpic_bg.png");
    min-height: 90vh;
}


@media (max-width:500px) {
    #podpic{
        margin-top: 3rem;
        background-repeat: no-repeat;
        background-image: url("/let.png");
        min-height: 60vh;
    }
}

@media (max-width:500px) {
    .box-podp span {
        font-size: 0.7rem; 
    }
}


@media (max-width:500px) {
    .img-podp {
        width: 5rem;
    }
}
.text-podp{
    margin-top: 11rem;
}

@media (max-width:500px) {
    .text-podp {
        margin-top: 1rem;
        font-size: 1rem;
    }
}

@media (max-width:500px) {
.box-img-comands{
    padding: 1rem;
}
}

.btn-spec-all{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: none;
    border-right: solid 1px black;
    border-left:solid 1px black ;
    border-top: none;
    border-bottom: none;
   
}
.btn-spec-all:hover{
    color: gray;
    font-size: 1.1rem;
}
.all-s{
    opacity: 0.2;
    transition-delay: .5s; 
}
.active{
    opacity: 1; 
    transition: .5s linear .5s;  
}
.box-text-clinic{
    padding: 7rem;
}

@media (max-width:500px) {
    .box-text-clinic{
        padding: 1rem;
    }
    }

.hei-img{
    max-height: 99.5%;
}
@media (max-width:500px) {
    .hei-img{
        max-height: 98.5%;
    }
    }





.box-text-dostoinstva{
    padding: 4rem;
}
.box-text-dostoinstva  h2{
    margin-top: 4rem;
}

@media (max-width:500px) {
    .box-text-dostoinstva  h2{
        margin-top: 0rem;
        margin-bottom: 2rem;
    }
    }
@media (max-width:500px) {
    .box-text-dostoinstva{
        padding: 1rem;
    }
    }
@media (max-width:500px){
    #clinic h2{
        margin-top: 5rem;
        font-weight: bold;
    }
}


h5 {
    font-weight: 900; 
}
.con-form{
    background-color: black;
    width: 100%;
}

#zapic-form{
    color: white;
}

input[type=text] {
    border: white;
    color: white;
    width: 70%;
    border-bottom: 1px solid white;
    background-color: black;
    outline:none;
    margin-top: 1.5rem;
  }

input::placeholder {
color: white;
font-size: 1.2em;

}

.btn-form{
    background: none;
    color: white;
    border: 1px 1px 1px 1px solid;
    border: 1px solid white;
    height: 2.5rem;
    width: 10rem;
}
.img-fot{
    margin: 1px;
    max-width: 100%;
    width: 100%;
}
.clock{
    position: relative;
    top: 14px;
    right: 11rem;
}
footer a{
    color: black;
}
.phone-icon{
    position: relative;
    top: 12px;
    right: 9rem;
}

.geo-icon{
    position: relative;
    right: 1.5rem;
}
.a-icon{
    position: relative;
    right: 1rem;
}

/* menu mobile */
.nav-toggle {
    cursor: pointer;
    height: 2rem;
    position: absolute;
    top: 1rem;
    width: 2.6rem;
    z-index: 2;
    right: 1rem;
  }
  .nav-toggle:hover {
    opacity: 0.8;
  }
  .nav-toggle .nav-toggle-bar,
  .nav-toggle .nav-toggle-bar::after,
  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #1c1a1a;
    content: "";
    height: 0.1rem;
    transition: all 0.5s;
    width: 80%;
  }
.menu_log{
    padding: .7rem;
    background: #e7e7e7;
}
@media (max-width:500px){
    #services{
        margin-top: 7rem;
    }
}
.alert {
    display: none;
}
.true-submit-form{
    display: block;
    position: absolute;
    right: 1rem;
    left: 17rem;
    width: 60%;
}
@media (max-width:500px){
    #section-commands{
      margin-top: 1rem;
    }
    #section-commands h4{
        font-weight: 100;
      }
}
@media (max-width:500px){
    .true-submit-form{
        left: 1rem;
        width: 90%;
    }
}

.menu_scroll{
    background-color: white;
}

  .nav-toggle .nav-toggle-bar {
    margin-top: 0;
  }
 
  .nav-toggle .nav-toggle-bar::after {
    margin-top: 0.4rem;
  }
  .nav-toggle .nav-toggle-bar::before {
    margin-top: -0.4rem;
  }
  .nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
  }
  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: #1c1a1a;
    margin-top: 0;
    
  }
  .nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
  .nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  /* nav */
  .nav {
    background: white;
    color: black;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: 100vh;
    left: -20rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    width: 20rem;
    z-index: 1;
  }
  .nav.expanded {
    left: 0;
    width: 100%;
}


.box-menu-logo a{
    text-decoration: none;
    color: black;
}
.img-arr{
    height: 17px;
    height: 17px;
    margin-top: .3rem;
}
  
h4{
    font-size: 16px;
}

h5{
    font-size: 16px;
    padding-top: 2rem;
}

#nav a {
    font-size: 1rem;
    font-weight: 200;
    color: black;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: inherit;
    padding: .3rem;


}
.btn-zapic a{
    color: black;
    text-decoration: none;
}
section{
    margin-top: 5rem;
} 


/* @media (max-width:500px){
    section{
        margin-top: 4rem;
    } 
} */

@media (max-width:500px){
    section{
        margin-top: 1rem;
    } 
}
a {
    color: white;
    text-decoration: none;
}

.box-about-menu{
    height: 100%;
    width: 100%;
    background: #F6F6F6;
    position: absolute;
    left: 0;
}
.opodp{
    margin-top: 9rem;
}

.opodp h3{
    font-size: 1.3rem;
}

@media (max-width:500px){
    .opodp h3{
        font-size: .9rem;
        margin-top: 1rem;
    } 

}
@media (max-width:500px){
    .opodp{
        margin-top: 1rem;
        padding-top: 2rem;
        font-size: 1rem;
        font-weight: 200;
    }
    }

.text-mob-obor{
        font-size: 1.2rem;
        opacity: .8;
        padding-bottom: 6rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
        font-weight: 100;
}
@media (max-width:500px){
    .text-mob-obor{
        font-size: .9rem;
        opacity: .8;
        padding-bottom: 6rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
}
}
.smile-house1 ,.smile-house3,.smile-house4 ,.smile-house5,.smile-house6,.smile7,.smile8 {
    opacity: 0;
    margin-top: 4rem;
    transition-delay: .5s;
}
.smile-house2{
    opacity: 0;
    margin-top: 7rem;
    /* transition-delay: .5s; */
}


.element-new{
    opacity: 0.9; 
    margin-top: 1rem;
    transition: .5s linear .5s;  
}

