<template>
  <div>
      {{onback()}}
    <div class="container pt-5">
      <span v-if="path"  @click="onnazad" class="d-block d-lg-none" style="position: relative; top: 2rem;cursor:pointer"
        > <img class="img-fluid" src="back.png" alt=""> Volver</span
      >
      <div class="row mt-5">
        <div class="col-12 col-lg-6 box-imgc">
          <img class="img-fluid" style="width: 25rem" src="dima.jpeg" alt="" />
        </div>
        <div class="col-12 col-lg-6 box-other">
          <p style="font-size: 2rem">Dmitrii Chursin</p>
          <h2 style="font-size: 1rem">Médico-estomatólogo</h2>
          <hr />
          <div>
            <p>Número de colegiado  <span>46004660</span></p>
            <p>
              <span>2000-2005</span> Universidad Estatal de medicina de Volgogrado
            </p>
            <p>
              <span>2005-2006</span> Residencia Clínica Universitaria
            </p>
            <p>
              <span>2006-2008 </span> Posgrado en especialidad "Prostodoncia" en la Universidad de medicina y Odontología de Moscú
            </p>
            <p><span>2008-2011</span>  Estudios de doctorado en la Universidad de medicina y Odontología de Moscú.</p>

            <p>
              <span>2014-2016</span> Homologación de títulos en la Universidad de Oviedo.
            </p>
            <p>  Más de <span>17 </span> años de experiencia clínica.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "defesp",
  head: {
    title:
      "Dmitrii Chursin - Médico-Estomatólogo En Valencia",
    meta: [
      {
        hid: "description",
        name: "description",
        content:
          "Ortodoncia,Odontopediatría,Blanqueamiento,Medicina estética,Cirugía e implantología,Rehabilitación oral en Valencia",
      },
       {
          hid: 'og:image',
          property: 'og:image',
          content: 'dima.jpeg'
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'dima.jpeg'
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Smile house'
        }
    ],
  },
    async asyncData({ from }) {
      let path
      if(from){
        path = true
      }
      else{
        path = false
      }
      return {path}
    },
  methods: {

    onPage() {
      this.$router.go(-1);
    },
    onnazad(){
        this.$router.go(-1);
    },
    onback() {
      if (process.browser) {
        
        var menu = document.querySelector("#menu_log");
        menu.classList.add("menu_scroll");
       
   
      }
    },
  },

  data() {
    return {
      zapic: false,
    };
  },
};
</script>

<style scoped>
.box-other {
  text-align: start;
}
@media (max-width: 500px) {
  .box-other {
    text-align: center;
  }
  .box-imgc {
    text-align: center;
  }
  p {
    font-size: 0.8rem;
  }
  .b-zapic {
    top: 50%;
  }
}
.box-imgc {
  text-align: right;
}
.b-zapic {
  top: 10rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: block;
}

span {
  font-weight: bold;
}
.btn-zapic {
  width: 10rem;
  height: 2.5rem;
  background: none;
  border: 1px 1px 1px 1px solid black;
  border: 2px solid black;
  margin-top: 1rem;
}
</style>