<template>
  <div >
    <div class="d-lg-block d-none">
     
      <Naven />
    </div>
    <div class="d-lg-none d-block">
      <Navmobileen  />
    </div>

    <main >
      <Nuxt />
    </main>
    <footer id="contact" style="background: #f6f6f6">
      <Footen/>
    </footer>
  </div>
</template>

<script>

export default {
  head(){
    return{
      link:[{rel:"canonical",href:`https://valencia-dental.es/en${this.$route.path}`}]
    }
  },
  data(){
    return{
      lang: false,
    }
  },

   
}
</script>