<template>
  <div>
    <div class="d-lg-block d-none">
      <Navesp />
    </div>
    <div class="d-lg-none d-block">
      <Navmobileesp />
    </div>
    <main>
      <Nuxt />
    </main>
    <footer id="contact" style="background: #f6f6f6">
      <Footes/>
    </footer>
  </div>
</template>

<script>

export default {
  head(){
    return{
      link:[{rel:"canonical",href:`https://valencia-dental.es${this.$route.path}`}]
    }
  },
}
</script>