<template>
  <div>
    <div>
      {{ onscr }}
      <header id="header">
        <div id="header__content"></div>
        <div class="content-header">
          <h1 class="text-center">Clínica odontológica en Valencia</h1>
          <div class="text-center">
            <button class="btn-zapic">
              <NuxtLink to="#zapic-form">Pedir cita</NuxtLink>
            </button>
          </div>
        </div>
        
      </header>
    </div>
    <!-- информацию Leer más про каждую услугу -->
    <section id="services">
      <div class="container">
        <div class="row justify-content-center">

          <!-- На компьютере -->
          <div class="col-lg-4 col-6 box-services ">
            <div class="text-center">
              <img src="Терапия.png" alt="" />
            </div>

            <h4 class="terapia text-center text-services">
              Conservadora <br />
              y profilaxis
            </h4>
          </div>

          <div class="col-lg-4 col-6 box-services boxmob">
            <div class="text-center">
              <img src="Реабилитация.svg" alt="" />
            </div>
            <h4 class="text-center text-services">
              Rehabilitación <br />bucal y carillas
            </h4>
          </div>
            <div class="col-lg-4 col-6 box-services">
            <div class="text-center">
              <img style="width: 50px;" src="Эндодонтия.svg" alt="" />
            </div>
            <h4 class="text-center text-services">
              Endodoncia <br />
              microscópica
            </h4>
          </div>

          <div class="col-lg-4 col-6 box-services boxmob2">
            <div class="text-center">
              <img src="Хирургия.svg" alt="" />
            </div>
            <h4 class="text-center text-services">Cirugía <br />e implantes</h4>
          </div>
            <div class="col-lg-4 col-6 box-services ">
            <div class="text-center">
              <img src="Ортодонтия.png" alt="" />
            </div>
            <h4 class="text-center text-services">Ortodoncia <br> e Invisalign</h4>
          </div>
          <div class="col-lg-4 col-6 box-services">
            <div class="text-center">
              <img style="width: 40px;" src="Эстетическая.svg" alt="" />
            </div>
            <h4 class="text-center text-services">
              Medicina <br />
              estética
            </h4>
          </div>
          <div class="col-lg-4 col-6 box-services ">
            <div class="text-center">
              <img src="Отбеливание.svg" alt="" />
            </div>
            <h4 class="text-center text-services">Blanqueamiento</h4>
          </div>
        </div>
      </div>
    </section>

    <section id="podpic">
      <div class="container">
        <div class="row justify-content-center">
          <div class="opodp col-lg-9 col-12">
            <h3 class="smile-house1 text-center p-1 p-lg-0 text-podp">
              Hemos creado la clínica Smile House en una de las mejores ciudades
              del mundo. La clínica está equipada con las últimas tecnologías en
              el área odontológica para que nuestros pacientes puedan recibir el
              mejor tratamiento posible y el equipo médico disfrute de su
              trabajo.
              <br />
              <span></span>
            </h3>
          </div>
          <div class="smile7 col-lg-6 col-12 text-center mt-4 box-podp">
            <span style="font-weight: bolder"
              >Dra. Maria Malevskaia- Chursina
            </span>
            <img class="img-podp" src="1.svg" alt="" />
          </div>
          <div class="smile8 col-lg-6 col-12 text-center mt-4 box-podp">
            <span style="font-weight: bolder">Dr.Dmitrii Chursin</span>
            <img class="img-podp" src="2.svg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section id="section-commands" style="margin-top: 3rem">
      <!-- block one -->

      <div class="d-flex flex-wrap justify-content-center">
        <div class="text-center box-img-comands" style="margin: 2px">
          <img style="width:599px;max-height: 741.71px;max-width:100%" class="img-fluid" src="dima.jpeg" alt="dima" />
          <h5 class="mt-4">Dmitrii Chursin</h5>
          <p>Médico estomatólogo</p>
          <div>
            <button @click="rembg('dmitryi')" class="btn-specialist">
              Leer más
            </button>
          </div>
        </div>
        <div class="text-center box-img-comands" style="margin: 2px">
          <img style="width:599px;max-height: 741.71px;max-width:100%" class="img-fluid" src="mariya.jpeg" alt="marya" />
          <h5 class="mt-4">Maria Malevskaia- Chursina</h5>
          <p>Médico estomatólogo</p>
          <div>
            <button @click="rembg('mariya')" class="btn-specialist">
              Leer más
              <!-- <NuxtLink no-prefetch  class="toa" to="/mariya">Leer más</NuxtLink> -->
            </button>
          </div>
        </div>
      </div>
      <hr />
      <div class="text-center">
        <button @click="seespec()" class="btn-spec-all mt-4">
          <span v-if="!spec_all">Nuestro equipo</span>
          <span v-if="spec_all">Volver</span>
        </button>
      </div>
      <div v-if="spec_all" class="all-s mt-5" :class="{ active: for_act }">
        <!-- block two -->
        <div class="d-flex flex-wrap justify-content-center mt-5">
          <div class="text-center box-img-comands" style="margin: 2px">
            <img class="img-fluid" src="004 1.JPEG" alt="Энкарна" />
            <h5 class="mt-4">Encarna Morales Heras</h5>
            <p>auxiliar dental</p>
            <div>
              <button @click="rembg('encarna')" class="btn-specialist">
                Leer más
              </button>
            </div>
          </div>
          <div class="text-center box-img-comands" style="margin: 2px">
            <img class="img-fluid" src="007 1.JPEG" alt="marya" />
            <h5 class="mt-4">Ekaterina Vlasenko</h5>
            <p>higienista</p>
            <div>
              <button @click="rembg('ekaterina')" class="btn-specialist">
                Leer más
                <!-- <NuxtLink no-prefetch  class="toa" to="/mariya">Leer más</NuxtLink> -->
              </button>
            </div>
          </div>
        </div>
        <!-- block three -->
        <div class="d-flex flex-wrap justify-content-center mt-5">
          <div class="text-center box-img-comands" style="margin: 2px">
            <img class="img-fluid" src="118 1.JPEG" alt="dima" />
            <h5 class="mt-4">Javier Barrera García</h5>
            <p>odontólogo</p>
            <div>
              <button @click="rembg('haver')" class="btn-specialist">
                Leer más
                <!-- <NuxtLink no-prefetch  class="toa" to="/mariya">Leer más</NuxtLink> -->
              </button>
            </div>
          </div>
          <div class="text-center box-img-comands" style="margin: 2px">
            <img class="img-fluid" src="018 2.JPEG" alt="marya" />
            <h5 class="mt-4">Rostislav Grebenyuk</h5>
            <p>Médico estético</p>
            <div>
              <button @click="rembg('rostislav')" class="btn-specialist">
                Leer más
                <!-- <NuxtLink no-prefetch  class="toa" to="/mariya">Leer más</NuxtLink> -->
              </button>
            </div>
          </div>
        </div>
        <!-- block for-->
        <div class="d-flex flex-wrap justify-content-center mt-5">
          <div class="text-center box-img-comands" style="margin: 2px">
            <img class="img-fluid" src="006 1.JPEG" alt="dima" />
            <h5 class="mt-4">Svetlana Grundmane</h5>
            <p>recepcionista</p>
          </div>
        </div>
      </div>
    </section>
    <section id="clinic">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-12 box-text-clinic">
            <h2 class="text-center mb-4">Sobre la clínica</h2>
            <h4 class="text-center smile-house2">
              Cuidamos nuestra imagen e intentamos dar un trato personal a cada
              paciente, la mayoría de los cuales llegan a nuestra clínica por
              recomendaciones de otros pacientes.
            </h4>
            <div class="text-center">
              <span class="smile-house3" style="font-size: 2rem; color: #3a5bcd"
                >3000+</span
              >
            </div>

            <p class="text-center" style="font-size: 1rem">de pacientes</p>
          </div>
          <div class="col-lg-6 col-12" style="padding: 0">
            <img class="img-fluid" src="com.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section id="photo" class="d-flex flex-wrap flex-lg-nowrap p-1">
      <!-- box-one -->
      <div>
        <!-- box-one foto-->
        <div class="d-flex">
          <!-- one foto-->
          <div class="d-flex flex-column">
            <img
              style="margin: 1px"
              class="img-fluid"
              src="photo1.jpeg"
              alt=""
            />
            <img
              style="margin: 1px"
              class="img-fluid"
              src="photo2.jpeg"
              alt=""
            />
          </div>
          <!-- two foto-->
          <div>
            <img
              style="margin: 1px"
              class="img-fluid hei-img"
              src="photo3.jpeg"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- end box-one -->

      <!-- box-two -->
      <div>
        <div class="d-flex">
          <!-- one foto-->
          <div>
            <img
              style="margin: 1px"
              class="img-fluid hei-img"
              src="photo4.jpeg"
              alt=""
            />
          </div>
          <!-- two foto-->
          <div class="d-flex flex-column">
            <img
              style="margin: 1px"
              class="img-fluid"
              src="photo5.jpeg"
              alt=""
            />
            <img
              style="margin: 1px"
              class="img-fluid"
              src="photo6.jpeg"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- end box-two -->
    </section>

    <section id="dostoinstva">
      <div class="container">
        <!-- box-1 -->
        <div class="row">
          <div class="col-12 col-lg-6 order-2 order-lg-1 p-0 text-center">
            <img class="img-fluid" src="oborydovanie.jpeg" alt="" />
          </div>
          <div
            class="
              smile-house4
              box-text-dostoinstva
              col-12 col-lg-6
              order-1 order-lg-2
            "
          >
            <h2 class="text-center mb-lg-4">Odontología microscópica</h2>
            <h4 class="text-mob-obor text-center m-2">
              Para el tratamiento de nuestros pacientes seguimos los últimos
              protocolos, utilizamos los mejores materiales odontológicos y
              contamos con las últimas tecnologías complementarias como
              microscopio y escaner .
            </h4>
          </div>
        </div>

        <!-- box-2 -->

        <div class="row pt-5">
          <div class="col-12 col-lg-6 order-2 order-lg-2 p-0 text-center">
            <img class="img-fluid" src="special.jpeg" alt="" />
          </div>
          <div
            class="
              smile-house5
              box-text-dostoinstva
              col-12 col-lg-6
              order-1 order-lg-1
            "
          >
            <h2 class="text-center mb-lg-4">
              Profesionales altamente <br />
              calificados
            </h2>
            <h4 class="text-mob-obor text-center m-2">
              El personal de nuestra clínica continuamente asiste a congresos y
              másteres prácticos de los mejores odontólogos del mundo.
            </h4>
          </div>
        </div>

        <!-- box-3 -->

        <div class="row pt-5">
          <div class="col-12 col-lg-6 order-2 order-lg-1 p-0 text-center">
            <img class="img-fluid" src="protocol.jpeg" alt="" />
          </div>
          <div
            class="
              smile-house6
              box-text-dostoinstva
              col-12 col-lg-6
              order-1 order-lg-2
            "
          >
            <h2 class="text-center mb-lg-4">Últimos protocolos</h2>
            <h4 class="text-mob-obor text-center m-2">
              Estamos pendientes de los cambios y novedades en el mundo
              odontológico para que nuestros pacientes reciban el mejor
              tratamiento posible.
            </h4>
          </div>
        </div>
      </div>
    </section>

    <section id="zapic-form">
      <div class="d-flex flex-row">
        <img class="d-none d-lg-block" src="contact.jpeg" alt="" />
        <div style="background: black; width: -moz-available; width: 100%">
          <Zapesp />
        </div>
      </div>
    </section>

    <section id="geolocation-card" style="margin-top: 0rem">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.3901244217695!2d-0.37933578520780137!3d39.48310457948454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f54ff9d3ceb%3A0xd075cd4f70ef9793!2zQ2FycmVyIGRlIGxhIFZpc2l0YWNpw7MsIDIsIDQ2MDA5IFZhbMOobmNpYSwg0JjRgdC_0LDQvdC40Y8!5e0!3m2!1ses!2ses!4v1583579502575!5m2!1ses!2ses"
        width="100%"
        height="450"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
      >
      </iframe>
    </section>

    <section
      id="footer-photo"
      class="d-none d-lg-block"
      style="padding: 1px; margin-top: 0rem"
    >
      <div class="d-flex">
        <!-- <img
          class="img-fluid img-fot d-none d-lg-block"
          src="fot3.jpeg"
          alt=""
        /> -->
        <img
          style="max-width: 49%; height: auto"
          class="img-fluid img-fot"
          src="fot2.jpeg"
          alt=""
        />
        <img
          style="max-width: 49%; height: auto"
          class="img-fluid img-fot"
          src="fot1.jpeg"
          alt=""
        />
        <img
          class="img-fluid img-fot d-none d-lg-block"
          src="fot4.jpeg"
          alt=""
        />
        <img
          class="img-fluid img-fot d-none d-lg-block"
          src="fot5.jpeg"
          alt=""
        />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  layout: "defesp",

  head: {
    title: "Clínica odontológica en Valencia | (Smile House)",
    meta: [
      {
        hid: "description",
        name: "description",
        content:
          "Ortodoncia,Odontopediatría,Blanqueamiento,Medicina estética,Cirugía e implantología,Rehabilitación oral en Valencia",
      },
       {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://lh5.googleusercontent.com/p/AF1QipOI2kuaQlAvtcVTU_rLhhXvrmiYDek5jG-8XKo1=w600'
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: 'https://lh5.googleusercontent.com/p/AF1QipOI2kuaQlAvtcVTU_rLhhXvrmiYDek5jG-8XKo1=w600'
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Smile house'
        }
    ],
  },
  computed: {
    onscr() {
      if (process.browser) {
        setTimeout(() => {
          let cart = document.querySelector("#geolocation-card");
          var intersectionObserver = new IntersectionObserver(function (
            entries
          ) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector("#menu_log");
            if (menu.classList.value.includes("menu_scroll")) {
              menu.classList.remove("menu_scroll");
            } else {
              menu.classList.add("menu_scroll");
            }
          });

          var intersecti = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house1 ");

            menu.classList.add("element-new");
          });

          var intersecti2 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house2");

            menu.classList.add("element-new");
          });

          var intersecti3 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house3");

            menu.classList.add("element-new");
          });

          var intersecti4 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house4");
            menu.classList.add("element-new");
          });
          var intersecti5 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house5");
            menu.classList.add("element-new");
          });

          var intersecti6 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile-house6");
            menu.classList.add("element-new");
          });

          var intersecti7 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile7");
            menu.classList.add("element-new");
          });

          var intersecti8 = new IntersectionObserver(function (entries) {
            if (entries[0].intersectionRatio <= 0) return;
            var menu = document.querySelector(".smile8");
            menu.classList.add("element-new");
          });

          // начать наблюдение
          intersectionObserver.observe(document.querySelector(".terapia"));
          intersecti.observe(document.querySelector(".smile-house1"));
          intersecti2.observe(document.querySelector(".smile-house2"));
          intersecti3.observe(document.querySelector(".smile-house3"));
          intersecti4.observe(document.querySelector(".smile-house4 "));
          intersecti5.observe(document.querySelector(".smile-house5"));
          intersecti6.observe(document.querySelector(".smile-house6"));
          intersecti7.observe(document.querySelector(".smile7"));
          intersecti8.observe(document.querySelector(".smile8"));
        }, 1000);
      }
    },
  },
  data() {
    return {
      spec_all: false,
      for_act: false,
    };
  },
  methods: {
    rembg(url) {
      let menu = document.querySelector("#menu_log");
      console.log(333);
      menu.classList.add("menu_scroll");
      this.$router.push("/" + url);
    },
    seespec() {
      this.spec_all = !this.spec_all;

      setTimeout(() => {
        this.for_act = !this.for_act;
      }, 100);
    },
  },
};
</script>

<style scoped>
.btn-specialist {
  background: none;
  border: 2px solid black;
  width: 10rem;
  height: 2.5rem;
}
.toa {
  color: black;
  text-decoration: none;
}
@media (max-width:500px){
    .boxmob {
        margin-top: 1.2rem;

    }
}
@media (max-width:500px){
    .boxmob2 {
        margin-top: 1.3rem;

    }
}
</style>
