<template>
  <div>
      {{onback()}}
    <div class="container pt-5">
      <span
      v-if="path" 
        @click="onnazad"
        class="d-block d-lg-none"
        style="position: relative; top: 2rem; cursor: pointer"
      >
        <img class="img-fluid" src="/back.png" alt="" /> home</span
      >
      <div class="row mt-5">
        <div class="col-12 col-lg-6 box-imgc">
          <img class="img-fluid" style="width: 25rem" src="/018 2.JPEG" alt="" />
        </div>
        <div class="col-12 col-lg-6 box-other">
          <p style="font-size: 2rem">Rostislav Grebenyuk </p>
          <h2 style="font-size: 1rem">Beautician Doctor </h2>
          <hr />
          <div>
            <p>Personal number <span>460708836 </span></p>
            <p>
              <span>1998-2004</span> Bachelor of Medicine and Surgery Tver State Medical Academy of the Russian Federation.
            </p>
            <p>
              <span>2004-2007 </span>
               Pediatrician-Physician of the Pediatrics specialty. Approved in Spain by the Ministry of Science and Innovation. 
            </p>
            <p>
              <span>2009-2013 </span> 
              Specialist in Family and Community Medicine. Via MIR in the Hospital: Can Misses, Ibiza. 
            </p>
            <p>
              <span> 2014-2015</span> Master in Aesthetic Medicine from the University of the Balearic Islands Since
            </p>
            <p><span> 2017</span> 2017 - Partner SEME (Spanish Society of Aesthetic Medicine)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "defaulten",
  head: {
    title:
      "Rostislav Grebenyuk Beautician Doctor  in Valencia SmileHouse",
    meta: [
      {
        hid: "description",
        name: "description",
        content: "Beautician Doctor",
      },
       {
          hid: 'og:image',
          property: 'og:image',
          content: '018 2.JPEG'
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: '018 2.JPEG'
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Smile house'
        }
    ],
  },
      async asyncData({ from }) {
      let path
      if(from){
        path = true
      }
      else{
        path = false
      }
      return {path}
    },
  methods: {
    onnazad(){
        this.$router.go(-1);
    },
    onback() {
      if (process.browser) {
        try {
            var menu = document.querySelector("#menu_log");
            menu.classList.add("menu_scroll");
        } catch (error) {
          console.log(error);
        }      
      }
    },
  },
  data() {
    return {
      zapic: false,
    };
  },
};
</script>

<style scoped>
.box-other {
  text-align: start;
}
@media (max-width: 500px) {
  .box-other {
    text-align: center;
  }
  .box-imgc {
    text-align: center;
  }
  p {
    font-size: 0.8rem;
  }
  .b-zapic {
    top: 50%;
  }
}
.box-imgc {
  text-align: right;
}
.b-zapic {
  top: 10rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: block;
}

span {
  font-weight: bold;
}
.btn-zapic {
  width: 10rem;
  height: 2.5rem;
  background: none;
  border: 1px 1px 1px 1px solid black;
  border: 2px solid black;
  margin-top: 1rem;
}
</style>