<template>
  <div>
      {{onback()}}
    <div class="container pt-5">
      <span
      v-if="path" 
        @click="onnazad"
        class="d-block d-lg-none"
        style="position: relative; top: 2rem; cursor: pointer"
      >
        <img class="img-fluid" src="/back.png" alt="" /> вернуться</span
      >
      <div class="row mt-5">
        <div class="col-12 col-lg-6 box-imgc">
          <img class="img-fluid" style="width: 25rem" src="/018 2.JPEG" alt="" />
        </div>
        <div class="col-12 col-lg-6 box-other">
          <p style="font-size: 2rem">Ростислав Гребенюк</p>
          <h2 style="font-size: 1rem">Врач косметолог</h2>
          <hr />
          <div>
            <p>Коллегиальный Номер врача <span>460708836 </span></p>
            <p>
              <span>1998-2006</span> Тверская Государственная Медицинская
              Академия педиатрический факультет. Интернатура и Ординатура по
              детской хирургии, специализация Детская травматология-ортопедия.
            </p>
            <p>
              <span>2006-2008 </span>
              Омологация диплома в Испании
            </p>
            <p>
              <span>2009-2013 </span>
              Специальность Семейного доктора. (Vía MIR en el Hospital: Can
              Misses, Ibiza).
            </p>
            <p>
              <span> С 2017 </span>- Член SEME (Sociedad Española de Medicina
              Estética)
            </p>
            <p><span> 17 лет</span> врачебной практики в стоматологии.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "default",
  head: {
    title:
      "Врач косметолог клинники в Валенсии SmileHouse - Ростислав Гребенюк",
    meta: [
      {
        hid: "description",
        name: "description",
        content: "косметические процедуры на специальном оборудовании",
      },
       {
          hid: 'og:image',
          property: 'og:image',
          content: '018 2.JPEG'
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: '018 2.JPEG'
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Smile house'
        }
    ],
  },
      async asyncData({ from }) {
      let path
      if(from){
        path = true
      }
      else{
        path = false
      }
      return {path}
    },
  methods: {
    onnazad(){
        this.$router.go(-1);
    },
    onback() {
      if (process.browser) {
        var menu = document.querySelector("#menu_log");
        menu.classList.add("menu_scroll");
      }
    },
  },
  data() {
    return {
      zapic: false,
    };
  },
};
</script>

<style scoped>
.box-other {
  text-align: start;
}
@media (max-width: 500px) {
  .box-other {
    text-align: center;
  }
  .box-imgc {
    text-align: center;
  }
  p {
    font-size: 0.8rem;
  }
  .b-zapic {
    top: 50%;
  }
}
.box-imgc {
  text-align: right;
}
.b-zapic {
  top: 10rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: block;
}

span {
  font-weight: bold;
}
.btn-zapic {
  width: 10rem;
  height: 2.5rem;
  background: none;
  border: 1px 1px 1px 1px solid black;
  border: 2px solid black;
  margin-top: 1rem;
}
</style>