<template>
          <div class="container mt-lg-5 mt-0">
        <h2 style="opacity: 0">
          Contactos
        </h2>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-4">
            <div class="d-flex flex-column flex-lg-row">
              <div class="p-1 text-center text-lg-start">
                <img src="geo.png" alt="" />
              </div>
              <div class="p-1 text-center text-lg-start">
                <span>
                  Carrer de la Visitació, 2, <br />
                  46009 València
                </span>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4">
            <div class="d-flex flex-column flex-lg-row">
              <div class="p-1 text-center text-lg-start">
                <div style="color: black; font-weight: bold">@</div>
              </div>
              <div class="p-1 text-center text-lg-start">
                <a href="mailto:smilehouse@valencia-dental.es">
                  smilehouse@valencia-dental.es
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 d-none d-lg-block">
            <div class="d-flex flex-wrap">
              <div class="d-flex flex-column p-2">
                <a href="#">- Sobre la clínica </a>
                <a href="#">- Equipo</a>
              </div>
              <div class="d-flex flex-column p-2">
                <a href="#">- Tratamientos</a>
                <a href="#">- Contactos</a>
              </div>
            </div>
          </div>
          <!-- 2nd-->
          <div class="col-12 col-lg-4 pt-lg-5 pt-0">
            <div class="d-flex flex-column flex-lg-row">
              <div class="p-1 text-center text-lg-start">
                <img src="phone.png" alt="" />
              </div>
              <div class="p-1 text-center text-lg-start">
                <span>
                  <a
                    href="tel:+34601443061"
                    style="font-weight: bold; color: black"
                    >+34 601 44 30 61</a
                  >
                </span>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4 pt-lg-5 pt-0">
            <div class="d-flex flex-column flex-lg-row">
              <div class="p-1 text-center text-lg-start">
                <img src="clock.png" alt="" />
              </div>
              <div class="p-1 text-center text-lg-start">
                <span >
                Horario de verano:
                </span>
                  <br />
                   De lunes a viernes <br> de 10 a 17:00 hrs
                
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 pt-lg-5 pt-0"></div>
          <div class="col-6 col-lg-4 pt-lg-5 pt-2 text-center text-lg-start">
            <div>
              <a
                href="https://www.instagram.com/smilehouse_vlc/?utm_medium=copy_link"
                target="_blank"
              >
                <img style="margin-right: 10px" src="instagram.png" alt="" />
              </a>
              <a
                href="https://ru-ru.facebook.com/smilehouse.vlc/"
                target="_blank"
              >
                <img style="margin-right: 10px" src="fasebook.png" alt="" />
              </a>

              <a href="https://wa.me/34601443061/" target="blank">
                <img style="margin-right: 10px" src="whatsapp.png" alt="" />
              </a>
            </div>
          </div>
          <div class="col-12 col-lg-4 pt-lg-5 pt-0d-none d-lg-block"></div>
          <div class="col-6 col-lg-4 pt-lg-5 pt-2 text-center text-lg-start">
            <div class="text-start">
              <span class="d-none d-lg-block"
                >Idioma| país: ES </span>
              <span class="d-block d-lg-none"
                >ES <img src="lang.png" alt=""
              /></span>
            </div>
          </div>
        </div>
        <p class="text-center mt-4 fs-10">
          © 2018-2021
            Clínica odontológica Smile House en Valencia. Todos los derechos reservados
        </p>
      </div>
</template>