<template>
  <nav id="navbar" class="navbar">
    <div class="container d-flex">
      <span class="flex-grow-1"
        ><img src="geo.png" alt="" /> Carrer de la Visitació, 2 Carrer de la
        Visitació, 2, 46009 València</span
      >
      <div class="search-lang">
        <div class="box-search">
          <!-- <img class="img-search" src="search.png" alt=""><span style="position: relative;
                        hrefp: 3px;">поиск</span> -->
        </div>
                <div>
          <b-dropdown
            variant="link"
            toggle-class="text-decoration-none"
            no-caretid="dropdown-left"
            size="sm"
          >
            <template #button-content>
              <span style="color: black">ES|Español </span>
            </template>
            <b-dropdown-item @click="onesplang('/')">
              <img
                style="width: 18px"
                class="img-fluid"
                src="sp.png"
                alt=""
              /><span style="font-size: 0.8rem"> Español</span>
            </b-dropdown-item>
            <b-dropdown-item @click="onesplang('/en')">
              <img
                style="width: 18px"
                class="img-fluid"
                src="en.png"
                alt=""
              /><span style="font-size: 0.8rem"> Inglés </span>
            </b-dropdown-item>
            <b-dropdown-item @click="onesplang('/ru')">
              <img style="width: 18px" class="img-fluid" src="ru.png" alt="" />
              <span style="font-size: 0.8rem">Ruso</span>
            </b-dropdown-item>
            <b-dropdown-item href="#">
              <img
                style="width: 18px"
                class="img-fluid"
                src="fr.jpg"
                alt=""
              /><span style="font-size: 0.8rem"> Francés </span>
            </b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="nav-menu container d-flex">
      <div class="box-menu-logo d-flex flex-grow-1">
        <img style="width: 3rem" class="logo" src="logo.png" alt="" />
        <div class="menu-text">
          <NuxtLink to="/">Principal</NuxtLink>
          <NuxtLink to="/#services">Servicios</NuxtLink>
          <NuxtLink to="/#section-commands">Nuestro equipo</NuxtLink>
          <NuxtLink to="/#clinic">Clínica</NuxtLink>
          <NuxtLink to="/#contact">Contactos</NuxtLink>
        </div>
      </div>

      <div class="box-menu-soc-phone d-flex flex-grow-2">
        <div class="logo-soc-sec">
          <a
            href="https://www.instagram.com/smilehouse_vlc/?utm_medium=copy_link"
            target="_blank"
          >
            <img style="margin-right: 10px" src="instagram.png" alt="" />
          </a>
          <a href="https://ru-ru.facebook.com/smilehouse.vlc/" target="_blank">
            <img style="margin-right: 10px" src="fasebook.png" alt="" />
          </a>
          <a href="https://wa.me/34601443061/" target="blank">
            <img style="margin-right: 10px" src="whatsapp.png" alt="" />
          </a>
        </div>
        <div class="menu-text" style="margin-right: 2.5rem">
          <a href="tel:+34601443061" style="font-weight: bold; color: black"
            >+34 601 44 30 61</a
          >
        </div>
      </div>
    </div>
  </nav>
</template>


<script>
export default {
  data() {
    return {
      lang: false,
    };
  },
  methods: {
    onesplang(rout){
      this.$router.push(rout);
    },
    onppp() {
      this.$router.push("/");
    },
    onLangmenu() {
      this.lang = !this.lang;
    },
    onrousection(section) {
      // this.$router.push('/')
      console.log(111);
    },
  },
};
</script>

<style >
.onlangu {
  height: max-content;
  width: 8rem;
  background: #fff;
  position: relative;
  right: 1rem;
  top: 1rem;
  z-index: 2;
  border-radius: 7%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.36863);
}
.dropdown-toggle::after {
  color: black;
}
</style>
