<template>
  <div>
    <div
      id="menu_log"
      class="menu_log fixed-top d-lg-none d-block"
      style="padding: 1rem"
    >
      <div class="d-flex">
        <img style="width: 3rem" src="logosh.png" alt="" />
        <div style="width: 60%" class="d-flex justify-content-end">
                  <div>
          <b-dropdown
           style="margin-right: 1rem;"
            variant="link"
            toggle-class="text-decoration-none"
            no-caretid="dropdown-left"
            size="sm"
          >
            <template #button-content>
              <span style="color: black">RU|</span>
            </template>
            <b-dropdown-item @click="onesplang('/')">
              <img
                style="width: 18px"
                class="img-fluid"
                src="sp.png"
                alt=""
              /><span style="font-size: 0.8rem"> Испанский</span>
            </b-dropdown-item>
            <b-dropdown-item @click="onesplang('/en')">
              <img
                style="width: 18px"
                class="img-fluid"
                src="en.png"
                alt=""
              /><span style="font-size: 0.8rem"> Английский </span>
            </b-dropdown-item>
            <b-dropdown-item @click="onesplang('/ru')">
              <img style="width: 18px" class="img-fluid" src="ru.png" alt="" />
              <span style="font-size: 0.8rem">Русский</span>
            </b-dropdown-item>
            <b-dropdown-item href="#">
              <img
                style="width: 18px"
                class="img-fluid"
                src="fr.jpg"
                alt=""
              /><span style="font-size: 0.8rem"> Французский </span>
            </b-dropdown-item>
          </b-dropdown>
        </div>
          <div style="margin-right: 1rem" class="p-1">
            <NuxtLink to="/#geolocation-card">
              <img style="height: 16px" src="icon.svg" alt=""
            /></NuxtLink>
          </div>
          <div class="p-1">
            <a href="tel:+34601443061"
              ><img style="height: 16px" src="icon.png" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div @click="openMenu()" class="nav-toggle d-lg-none d-block">
        <div class="nav-toggle-bar"></div>
      </div>
    </div>
    <nav id="nav" class="nav">
      <img
        style="position: absolute; top: 12px; width: 3rem"
        src="logo.png"
        alt=""
      />
      <hr />
      <div class="text-start" style="width: 100%">
        <div @click="closeMenu()" class="d-flex justify-content-between mt-2">
          <NuxtLink class="link" to="/ru#"
            >ГЛАВНАЯ <img class="img-fluid img-arr" src="armenu.png" alt=""
          /></NuxtLink>
        </div>
        <div @click="closeMenu(1)" class="d-flex justify-content-between mt-2">
          <NuxtLink class="link" to="/ru#section-commands"
            >НАША КОМАНДА
            <img class="img-fluid img-arr" src="armenu.png" alt=""
          /></NuxtLink>
        </div>
        <div @click="closeMenu(1)" class="d-flex justify-content-between mt-2">
          <NuxtLink class="link" to="/ru#services"
            >УСЛУГИ <img class="img-fluid img-arr" src="armenu.png" alt=""
          /></NuxtLink>
        </div>
        <div @click="closeMenu(1)" class="d-flex justify-content-between mt-2">
          <NuxtLink class="link" to="/ru#clinic"
            >О КЛИНИКЕ <img class="img-fluid img-arr" src="armenu.png" alt=""
          /></NuxtLink>
        </div>
        <div @click="closeMenu(1)" class="d-flex justify-content-between mt-2">
          <NuxtLink class="link" to="/ru#contact"
            >КОНТАКТЫ <img class="img-fluid img-arr" src="armenu.png" alt=""
          /></NuxtLink>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  
  data(){
    return {
      lang:false
    }
  },
  methods: {
    onLangmenu() {
      this.lang = !this.lang;
  
    },
    onesplang(rout){
      this.$router.push(rout);
    },
    openMenu() {
      console.log();
      let nav = document.querySelector("#nav");
      let toogle = document.querySelector(".nav-toggle");
      let fix_menu = document.querySelector(".menu_log ");
      if (nav.classList.value.includes("expanded")) {
        nav.classList.remove("expanded");
        toogle.classList.remove("expanded");
        toogle.style = "position:absolute";
        fix_menu.classList.add("fixed-top");
      } else {
        nav.classList.add("expanded");
        toogle.classList.add("expanded");
        toogle.style = "position:fixed";
        fix_menu.classList.remove("fixed-top");
      }
    },
    closeMenu(args = null) {
      let menu = document.querySelector("#menu_log");
      if (args) {
        menu.classList.add("menu_scroll");
      } else {
        menu.classList.remove("menu_scroll");
      }
      this.openMenu();
    },
  },
};
</script>


<style scoped>
.lang-dialog{
  background: white;
  position: absolute;
  top: 3rem;
  right: 5rem;
  box-shadow: 2px 2px 2px 2px #00000063;
  width: max-content;
  transition: .5s linear .5s; 
}
</style>