<template>
    <div>
        <div class="con-form">
          <h2 class="text-center" style="margin-top: 2rem;color: white;">
            Make an appointment
          </h2>
          <p class="text-center p-3" style="color: white;">
            Leave your contact information and we will contact you as soon <br />
            as possible.
          </p>
          <div class="text-center">
            <form id="myForm" v-on:submit.prevent="onZapic()">
              <div class="p-1">
                <div class="alert alert-light" role="alert"></div>
              </div>

              <input type="text" name="fname" placeholder="Your name" />
              <input type="text" name="fphone" placeholder="Your phone number" />
              <input type="text" name="femail" placeholder="Email" />
              <p class="text-center" style="margin-top: 4rem">
                <button
                  name="submit"
                  value="submit"
                  class="btn-form"
                  type="submit"
                >
                  Send
                </button>
              </p>
            </form>
            <p style="margin-top: 3rem">
              By entering your personal details, you agree to 
              <a style="color: white" href="">the Privacy Policy </a>
            </p>
          </div>
        </div>
    </div>
</template>

<script>
export default {
  props:['zapic'],
    methods:{
    onZapic() {
      let name = document.forms["myForm"]["fname"].value;
      let phone = document.forms["myForm"]["fphone"].value;
      let email = document.forms["myForm"]["femail"].value;
      let form_alert = document.querySelector(".alert ");
      let data = {
        "name": name,
        "phone": phone,
        "email": email
        }
        let headers = {
            'Content-Type': 'application/json',
        };
      if (name && phone && email) {
        form_alert.innerHTML = "Отправлено!";
        var form = document.getElementById("myForm");
        this.$axios.$post('https://valencia-dental.es/api/v1/email',data,{
                                                        headers: headers
        }
        )
        .then(responce => {
          console.log(responce);
          form.reset();
          setTimeout(() => {
            this.zapic = false
        }, 2000);
          
        },
         error => {
           console.log(error);
        }
        )

      } else {
        form_alert.innerHTML = "Fill form!";
      }
      form_alert.classList.add("true-submit-form");
      setTimeout(() => {
        form_alert.classList.remove("true-submit-form");
      }, 2000);
    },
    }
}
</script>
